@font-face{
    font-family: "samim-FD";
    src: url(fonts/Samim-FD.woff) format(woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "samim-FD",sans-serif;
}
.container{
    background: linear-gradient(RGBA(13,70,83,0.78) ,RGBA(13,70,83,0.78)),url(img/bg-banner.jpg) center center;
    width: 100%;
    height: 635px;
}

/* nav-bar */
.main-nav ul li{
    display: inline-block;
    padding-left: 15px;
    margin-top: 15px;
    position: relative;
    right: 150px;
}
.main-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}
.main-nav{
    position: fixed;
    background:RGBA(13,70,83,0.78) ;
    width: 100%;
    height: 50px;
}
.logo img{
float: left;  
width: 100px;
margin: 5px 0px 0px 100px;
}

/* header */
.header{
    padding-top: 200px;
    color: #fff;
    display: block;
    text-align: center;
}
.header p{
    font-size: 14px;
    padding-top: 10px;
    margin-bottom: 30px;
}
.header a{
    text-decoration: none;
    color: #fff;
    background-color: aquamarine;
    font-size: 12px;
    background-color: rgba(12, 184, 182,91);
    padding: 10px 20px;
    border-radius: 5px;
}
.header a:hover{
    background-color: rgba(12, 184, 182,.3);
}

/* services */
.service-container{
    padding: 80px;
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3,345px);
    grid-template-rows: repeat(3,233px);

}
.item{
    position: relative;
    right: 30px;
    padding: 5px 10px 10px 10px;
    font-size: 13.5px;
}
.item i{
    padding-bottom: 15px;
}
.item p{
    color: #5a5858;
    padding-top: 10px;
}
.item h4{
    font-size: 20px;
    font-weight: bold;
}
.item3 h4{
    font-size: 24px;
}
hr{
    width: 60px;
    height: 3px;
    background: red;
    position: relative;
    border: 0;
    margin: 15px 0px;
}
