@font-face{
    font-family: "samim-FD";
    src: url(fonts/Samim-FD.woff) format(woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "samim-FD",sans-serif;
}
.container{
    background: linear-gradient(RGBA(13,70,83,0.67) ,RGBA(13,70,83,0.66)),url(img/bg-banner.jpg) center center;
    width: 100%;
    height: 535px;
}

/* nav-bar */
.main-nav ul li{
    display: inline-block;
    padding-left: 15px;
    margin-top: 15px;
    position: relative;
    right: 150px;
}
.main-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
}
.main-nav{
    position: fixed;
    background:RGBA(13,70,83,0.85) ;
    z-index: 1000;
    width: 100%;
    height: 50px;
}
.logo img{
float: left;  
width: 100px;
margin: 5px 0px 0px 100px;
}

/* header */
.header{
    padding-top: 100px;
    color: #fff;
    display: block;
    text-align: center;
}
.header p{
    font-size: 14px;
    padding-top: 10px;
    margin-bottom: 30px;
}
.header a{
    text-decoration: none;
    color: #fff;
    background-color: aquamarine;
    font-size: 12px;
    background-color: rgba(12, 184, 182,91);
    padding: 10px 20px;
    border-radius: 5px;
}
.header a:hover{
    background-color: rgba(12, 184, 182,.3);
}
.header h4{
    font-size: 25px;
    padding-bottom: 8px;
}

/* services */
.service-container{
    padding: 80px;
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3,345px);
    grid-template-rows: repeat(3,233px);

}
.item{
    position: relative;
    right: 30px;
    padding: 5px 10px 10px 10px;
    font-size: 13.5px;
}
.item i{
    padding-bottom: 15px;
}
.item p{
    color: #5a5858;
    padding-top: 10px;
}
.item h4{
    font-size: 20px;
    font-weight: bold;
}
.item3 h4{
    font-size: 24px;
}
hr{
    width: 60px;
    height: 3px;
    background: red;
    position: relative;
    border: 0;
    margin: 15px 0px;
}

/* table */
table ,td{
    border:1px solid whitesmoke;
    border-collapse: collapse;
    position: relative;
}
td{
    color: white;
    border: 0px solid #ededed;
    border-top: 1px solid rgba(216, 216, 216, .6);
    padding: 2px 50px 2px 45px;
}
.table{
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3,390px);
    grid-template-rows: repeat(3,200px);
    gap:1px ;
    margin-right: 35px;
    position: relative;
    bottom: 300px;
}
.table-item{
    position: relative;
    right: 10px;
    background-color: rgba(34, 88, 100, 0.9);
    color: white;

}
.table p{
    font-size: 13.5px;
}
.table h4{
    font-size: 17px;
    padding: 20px 20px 0px;
    text-align: start;
}
.table-item table{
    text-align: center;
    margin-right: 22px;
    margin-top: 24px;
    font-size:14px ;
    box-shadow: 1px 1px 2px white;
}
.table-item p{
    padding: 20px 20px 20px 20px;
}
.table-item a{
    text-decoration: none;
    color: white;
    border: solid 1px white;
    font-size: 13px;
    margin-right: 20px;
    padding: 4px 7px;
    box-shadow: 1px 1px 2px white;
}
.table-item a:hover{
    background-color: rgba(82, 151, 150);
}

/* textBox */
.textbox{
    display: grid;
    grid-template-columns: repeat(2,500px);
    position: relative;
    bottom: 600px;
    justify-content: space-around;
}
.textBox-item p{
    color: #5a5858;
    font-size: 14px;
    width: 90%;
}
.textBox-item div li{
    list-style-type: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(34, 88, 100, 0.9);
    font-weight: 900;
    color: #ededed;
    float: left;
    text-align: center;
    position: relative;
    padding-top: 6px;
}
.textBox-item h3{
    padding-bottom: 15px;
    font-size: 24px;
}

/* about Dr */
.about{
    position: relative;
    bottom: 500px;
}
.dr-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.dr-item img{
   width: 230px;
   padding-bottom: 15px;
   position: relative;
}
.dr-item{
    border: solid 1px #d4cfcf;
    padding: 2px 2px 10px;
    box-shadow: 1px 1px 3px #9e9a9a;
}
.dr-item:hover{
    transform: perspective(300px) translate3d(0px, 0px, 5px);
}
.dr-item ul li{
    list-style-type: none;
    margin-left: 8px;
   
}
.dr-item ul{
    display: flex;
    padding: 20px 40px;
}
.dr-item ul li i{
    color: #157473;
    font-size: 18px;
}
.dr-item h3{
    padding: 0px 20px 10px;
    font-size: 22px;
    position: relative;
}
.dr-item p{
    padding: 0px 10px;
    font-size: 13.5px;
    color: #5a5858;
}
.about h1{
    padding-right: 90px;
}
.about hr{
    right: 90px;
}

/* comments */
.comments{
    background-color: #eeeeee;
    position: relative;
    bottom: 400px;
    padding-top: 20px;
}
.detail-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    padding: 0px 140px;
}
.comments .detail-container .detail .datail-text{
    background-color: white;
    padding: 10px 20px;
    font-size: 13px;
    color:#5a5858;
    box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, .18);
}
.comments .detail-container .detail .person-info img{
    float: left;
    width: 50px;
    position: relative;
    bottom: 10px;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    float: left;
    margin-left: 40px;
}
.person-info{
    margin: 10px 20px;
}
.person-info p{
    color: #5a5858;
    font-size: 14px;
}
.comments h2{
    padding: 10px 0px 5px;
    font-size: 18px;
}
.comments hr ,.comments h1{
    margin-right: 90px;
    margin-bottom: 20px;
}

/* about us */
.about-us-container{
    background-color:rgb(41, 48, 46);
    position: relative;
    bottom: 390px;
}
.about-us{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1000px;
    height: 200px;
    position: relative;
    right: 150px;
    padding: 40px;
    color: #fff;
}
.about-us h1{
    font-size: 24px;
}
.about-us p{
    font-size: 14px;
    width: 380px;
}

/* contact */
.contact{
    position: relative;
    margin: 0px 200px;
    bottom: 350px;

}
.contact-form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 180px;
}
.contact input{
    width: 400px;
    height: 25px;
    margin: 3px 0px;
    padding-right: 10px;
}
.input-box h3 , .contact-info h3{
    padding: 20px 0px;
}
.icons{
    font-size: 19px;
    padding-top: 60px;
}
.icons ul li{
    list-style-type: none;
    position: relative;
    left: 100px;
    color: #999999;
}
.contact-info p{
    font-size: 14px;
    color: #999999;
    padding-bottom: 5px;
}
.contact-form a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 5px 20px;
    background-color: #157473;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px black;
}
.contact textarea{
    width: 400px;
    height: 90px;
    margin-top: 5px;
    padding-right: 10px;
    resize: none;
}

/* footer */
.footer-container{
    position: relative;
    bottom: 280px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content:center;
    color: #fff;
    background-color:RGBA(13,70,83,0.85);
    padding: 40px 0px 60px 0px;
}
.links{
    display: grid;
    grid-template-columns: repeat(1,100px);
}
.links a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.footer h3{
    padding-bottom: 20px;
    font-size: 22px;
}
.about-footer p{
    font-size: 14px;
}
.icon{
    padding-top: 20px;
}
.icon a{
    color: #fff;
}
.icon #twitter{
    padding: 10px 12px;
    background-color:dodgerblue;
    margin-left: 1px;
}
.icon #linkedin{
    padding: 10px 13px;
    background-color:rgb(15, 15, 41);
    margin-left: 1px;
}
.icon #google{
    padding: 10px;
    background-color:red;
    margin-left: 1px;
}
.icon #facebook{
    padding: 10px 14px;
    background-color:rgb(24, 78, 132);
    margin-left: 1px;
}
.copy{
    position: relative;
    bottom: 30px;
}
.copy hr{
    width: 100%;
    height: 1px;
    background: #999999;   
}
.copy p{
    text-align: center;
    font-size: 14px;
    color:#999999;
}